@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap');

* {
    font-family: 'JetBrains Mono';
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: white;
}

body {
    background: #393941;
}